main {
    display: flex;
    flex-direction: column;
}

.search-form {
    margin-top: 50px;
}

#server-list, #item-search, #data-center-list {
    max-width: 500px;
    margin: 3px auto;
}

#search-results {
    display: flex;
    flex-flow: row wrap;
}

.card {
    margin: 5px;
}

.card-img-top {
    width: 50px;
    margin: 5px auto;
}

#debug-box {
    position: absolute;
    top: 0px;
    left: 0px;
}

.card-animation {
    box-shadow: none;
    transition: box-shadow 0.3s;
}

.card-animation:hover {
    box-shadow: inset -0.7em -0.7em  grey;
}